body {
  background-color: #FC6736;
  color: #EFECEC;
  font-family: 'Anta', serif;
  font-size: 17px;
  font-weight: lighter;
}

h1, h2, h3 {
  color: #EFECEC;
  font-family: 'Montserra', serif;
}

a {
  color: #FC6736;
  text-decoration: none;
}

a:hover {
  background-color: #FFB0B0;
  color: #EFECEC;
}

div.container {
  margin: 0px auto;
}

div.card {
  background-color: #0C2D57;
  padding: 20px;
  box-shadow: 10px 10px 30px rgba(0,0,0,0.7);
  border-radius: 4px;
  margin: 20px;
  text-align: center;
}

img {
  border-radius: 150px
}

.btn-orange {
  background-color: #FC6736;
  color: #EFECEC;
  padding: 15px 20px;
  border-radius: 4px;
}
.link{
  font-size: 50px;
}

.list-inline {
  display: inline;
  padding: 10px;
  list-style: none;
}

p {
  display: block;
  margin-block-start: 2em;
  margin-block-end: 2em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding: 20px;
}

section {
  width: 100%;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

*, :after, :before {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position: ;
  --tw-gradient-via-position: ;
  --tw-gradient-to-position: ;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgba(59,130,246,.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
}

*, :after, :before {
  box-sizing: border-box;
  border: 0 solid #e5e7eb;
}

:is(.dark .dark\:bg-gray-800) {
  --tw-bg-opacity: 1;
  background-color: rgb(31 41 55/var(--tw-bg-opacity));
}

.p-4 {
  padding: 1rem;
}

.md\:grid-cols-3 {
  grid-template-columns: repeat(3,minmax(0,1fr));
}

.grid {
  display: grid;
}
.gap-5 {
  gap: 1.25rem;
}
.justify-between {
  justify-content: space-between;
}

.flex {
  display: flex;
}

li {
  display: inline;
  padding: 10px;
}

/* Media queries */
@media(max-width: 1920px) {
  div.container {
    width: 50%;
  }
}
@media(max-width: 900px) {
  div.container {
    width: 60%;
  }
}
@media(max-width: 750px) {
  div.container {
    width: 80%;
  }
}
@media(max-width: 500px) {
  div.container {
    width: 95%;
  }
  div.card {
    padding: 20px;
    margin: 10px;
    text-align: center;
  }
}
